.header{
    background-color: #82ae46;
   
}
 
 .ic-1 {
    font-size: 9px;
    color: white;
    margin-left: 14rem;
 }
 .ic-2{
    font-size: 9px;
    color: white;
    margin-left: 14rem;
 }
 .num{
    font-size: 11px;
 }
 
.email{
    font-size: 14px;
   
}
.info{
    margin-left: 20rem;
    font-size: 13px;
}

 ul{
  display: flex;
  margin-right: 15rem;
 
 }
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
   height: 10vh; 

}
.main-nav{
     
   position: relative;
}
.main-nav ul li{
     position: relative; 
}
ul li a{
    text-decoration: none;
}
li{
   list-style: none;
    padding: 2rem; 
}
li a{
    color: black;
   font-size: small;
}
 .menu-ic  {
    margin: 0;
    font-size: 1vw;
    position: absolute;   
    right: 15%;
    top: 2.1rem;
}
 .fa-solid.fa-bars{
    display: none;
}
.logo{
    color: #82ae46;
    font-weight: bold;
    font-size: large;
    padding-left: 15rem;  
}
.logo:hover{
    color: black;
}
.icon{
     margin: 0;
}
.dropdown{
    display: none;
}
 .main-nav ul li:hover .dropdown {
      display: block; 
     position: absolute; 
      left:0;
      top: 100%;
     z-index: 1;
}

.dropdown ul{
    display: block;
    margin: 10px;
   
}
.dropdown ul li{
    padding: 0;
     width: 120px;
   
}
.icon{
    font-size: 7px;
    position: absolute;
    top: 2.5rem;
}

 h1{
   
}
 @media (max-width: 980px) {
    ul {
         display: none; 
    }
      .menu-ic{
        display: none;
      }
    
   .logo{
    padding-left : 1rem;
} 
} 
     @media (max-width: 980px) {
        .fa-solid.fa-bars{
            display: block;
             font-size: 0.9rem;
            color: white;
             position: absolute;    
     }
     .logo{
        position: absolute;
        top: 35%;
     }
  }
  

.txt1{
    line-height: 30px;
}
.txt2{
    line-height: 30px;
}
.txt3{
    line-height: 30px;
}
.txt4{
    line-height: 30px;
}

.label{

}
 h2 a{
 color: white;
background-color: #82ae46;
 text-decoration: none;
 font-size: 20px;
 border: 2px ;
 padding: 5px;

}
.text h2{
    color: #82ae46;
}
.text p a{
    background-color: #82ae46;
}
.heading1{
    color: #82ae46;
}
.heading2{
    font-weight: bold;
}

.cardprice{
    margin-left: 5.2rem;
    
}
.btnn{
    background-color: #82ae46;
    color: white;
    margin-left: 4rem;
    margin-top: 2px;
    padding: 3px;
    border-radius: 20px;
    border: none;
    
}

.ftr{
    border-top: 2px solid;
     /* background-color: white; */
      
}
.ftr-heading{
     /* margin-left: 70px;  */
   position: absolute;
   font-weight: bolder;
   
}
.ftr-p{
    margin-top: 50px;
   width: 200px;
}
.ftr-heading2{
   /* margin-right: 170px; */
   position: absolute;
   font-weight: bolder;
}
.navigate{
    margin-top: 50px;
    margin-left: 200px;
   display: inline;
   position: relative;
}
.ftr-heading3{
     position: absolute; 
    font-weight: bolder;
    line-height: 5px;
}

.innfo{
    display: inline; 
    line-height: 0;
    

}

.cnt-info{
    display: inline;
    line-height: 0;
    
    
}
 .headding{
    position: absolute;
} 
.address-2{
    display: inline;
}
