.header{
    background-color: #82ae46;
   
}
 i{
    font-size: 9px;
    color: white;
    margin-left: 14rem;

 }  
 .num{
    font-size: 11px;
    
 }
 
.email{
    font-size: 14px;
   
}
.info{
    margin-left: 20rem;
    font-size: 13px;
}

 ul{
  display: flex;
  margin-right: 15rem;
 
 }
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.main-nav{
   height: 11vh;
}
.main-nav ul li{
     position: relative;
}
ul li a{
    text-decoration: none;
}
li{
   list-style: none;
    padding: 2rem; 
    
}
li a{
    color: black;
   font-size: small;
}
.menu-ic{
    margin: 0;
    font-size: 1vw;
    position: absolute;   
    right: 15%;
    top: 8%;
    display: none;
}
.logo{
   
    color: #82ae46;
    font-weight: bold;
    font-size: large;
    padding-left: 15rem;  
}
.logo:hover{
    color: black;
}
.icon{
     margin: 0;
}
.dropdown{
    display: none;
}
 .main-nav ul li:hover .dropdown {
      display: block; 
     position: absolute; 
      left:0;
      top: 100%;
     
}

.dropdown ul{
    display: block;
    margin: 10px;
   
}
.dropdown ul li{
    padding: 0;
     width: 120px;
}
.icon{
    font-size: 7px;
    position: absolute;
    top: 2.5rem;
    
}
 @media (max-width: 980px) { 
    ul {
         display: none; 
    }
       .menu-ic{
        display: block;
      } 
    nav{
        /* background-color: black; */
        height: 90px;
 }
 .logo{
    padding-left : 1rem;
 }
 
} 

    
  
.text1{
    position: absolute;
    bottom: 20rem;
}
.img{
    height: 700px;
}

 img{
   height: 500px; 
 }